node-red flow rak 7431 ttn mqtt integration downlink AABBCCDD.txt
[{"id":"3e8c7abf.48b676","type":"function","z":"2abc337e.d7383c","name":"0xAA,0xBB,0xCC,0xDD","func":"var b = new Buffer(4);\nb=[0xAA,0xBB,0xCC,0xDD];\nmsg.payload = b;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":280,"wires":[["ac0d5ff9.35062","afb39461.ca0058"]]},{"id":"38a4a2c0.f0b29e","type":"inject","z":"2abc337e.d7383c","name":"Downlink","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["3e8c7abf.48b676"]]},{"id":"68d95cde.7a3614","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":340,"wires":[]},{"id":"ac0d5ff9.35062","type":"function","z":"2abc337e.d7383c","name":"{UTF8-Hex_base64}","func":"var b = new Buffer(msg.payload);\nmsg.payload = b.toString('base64');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["33025df0.7976b2","2066ef7a.8e6a1"]]},{"id":"33025df0.7976b2","type":"function","z":"2abc337e.d7383c","name":"Downlink formatter","func":"var payloadB64 =msg.payload;\nmsg.payload = {\n\n  \"downlinks\": [{\n    \"f_port\": 1,\n    \"frm_payload\": payloadB64,\n    \"priority\": \"NORMAL\"\n  }]\n\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":340,"wires":[["68d95cde.7a3614","b611c03e.0c6d1"]]},{"id":"afb39461.ca0058","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":280,"wires":[]},{"id":"2066ef7a.8e6a1","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":400,"wires":[]},{"id":"b611c03e.0c6d1","type":"mqtt out","z":"2abc337e.d7383c","name":"","topic":"v3/rak-7431-xavier@ttn/devices/87654321/down/push","qos":"","retain":"","broker":"bc65c7fc.3656f8","x":1100,"y":280,"wires":[]},{"id":"bc65c7fc.3656f8","type":"mqtt-broker","z":"2abc337e.d7383c","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]