node-red flow rak 7431 ttn mqtt integration.txt
[{"id":"2078b7bc.5549a8","type":"mqtt in","z":"2abc337e.d7383c","name":"","topic":"v3/rak-7431-xavier@ttn/devices/87654321/up","qos":"2","datatype":"auto","broker":"bc65c7fc.3656f8","x":190,"y":140,"wires":[["c655e9e5.899bb8","b754bea1.fe531"]]},{"id":"148abcf4.fcfa93","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"c655e9e5.899bb8","type":"function","z":"2abc337e.d7383c","name":"Payload_fields","func":"var msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.uplink_message.decoded_payload;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[["582cf644.5f6a58","bfa2e8db.3c0638"]]},{"id":"bfa2e8db.3c0638","type":"function","z":"2abc337e.d7383c","name":"power_phase1","func":"var a = msg.payload;\nmsg.payload=a.power_phase1_watts;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":160,"wires":[["148abcf4.fcfa93"]]},{"id":"582cf644.5f6a58","type":"debug","z":"2abc337e.d7383c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":80,"wires":[]},{"id":"b754bea1.fe531","type":"debug","z":"2abc337e.d7383c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]},{"id":"bc65c7fc.3656f8","type":"mqtt-broker","z":"2abc337e.d7383c","name":"","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]